@media all and (max-width: 1366px){

	.work__container, .positioneer, .testimonial_slides{
		width: 100%;
	}
}

@media all and (max-width: 1024px){

	.about_us, .work, .service,
	.team, .testimonial, .logo, .contact, footer{
		padding: 65px 0 50px;
	}

	.header__glass{
		right: 10%;
	}

	.about_us__gallery{
		margin: 70px auto;
	}

	.about_us__description{
		height: auto;
		width: 80%;
		margin: 0 auto;
	}

	.positioneer{
		width: 90%;
		margin: 70px auto 0;
	}

	.bl1, .bl3, .bl6{
		width: 55%;
	}

	.bl2, .bl4, .bl5{
		width: 40%;
	}

	.testimonial_slides{
		width: 90%;
		margin-top: 70px;
	}

	.test__sl_bground{
		margin: 0 50px 0 15px;
	}

	.slide_speech{
		width: 400px;
		padding: 40px 30px 0;
	}

	.service__block .transp_bground{
		padding-top: 100px;
	}

	.logo_row1{
		margin: 0;
	}

	form{
		margin-right: 0;
	}
	.location{
		width: 615px;
		margin-top: 20px;
	}

	.location_map{
		margin: 25px auto;
	}

	footer{
		padding: 50px 0;
	}
}

@media all and (max-width: 768px){

		.header__title__text1, .header__title__text2{
			font-size: 35px;
		}

		.block__title{
			font-size: 30px;
		}

		.block__text{
			font-size: 16px;
		}

		.description__title{
			font-size: 16px;
		}

		.description__title2{
			font-size: 15px;
		}

		.description__text{
			line-height: 25px;
		}

		.bl1{
			padding: 35px 40px;
		}

		.set_bg {
			left: 35px;
		}

		.service__block .transp_bground{
		padding: 100px 40px;
		}

		.team_block{
			background-size: cover;
			width: 200px;
			height: 235px;
		}

		.speech {
		    width: 185px;
		    height: 200px;
		    margin: 30px auto 15px;
		    padding: 20px 20px 5px 5px;
		}

		.staff_name{
			font-size: 12px;
		}

		.staff_text {
		    font-size: 14px;
		    margin: 10px 0 25px;
		}


		.test__sl_bground {
		    width: 244px;
		    height: 235px;
		    margin-right: 25px;
		}

		.test_img {    
		    left: 22px;
		    top: -10px;
		    width: 200px;
		    height: 255px;    
		}

		.slide_speech{
			width: 350px;
			height: 245px;
			line-height: 20px;
			padding: 20px 20px 0;

		}

		.testimonial_slides{
			height: 290px;
		}

		footer {
    		padding: 30px 0;
		}
}

@media all and (max-width: 640px){

		.about_us, .work, 
		.service, .team, .testimonial, 
		.logo, .contact, footer{
			padding: 40px 0 25px;
		}

		header{
			height: 450px;
		}

		.header__logo{
			left: 5%;
			top: 30px;
		}

		.header__menu{
			right: 5%;
			top: 30px;
		}

		.header__menu_hover{
			right: 5%;
			top: 30px;
		}

		.header__title__text1, .header__title__text2{
			font-size: 30px;
			top: 195px;
		}

		.header__glass{
			top: 305px;
			right: 5%;
		}

		.header__button {
		  	left: 5%;
		    top: 230px;
		    height: 40px;
		    line-height: 40px;
		    width: 170px;
		    font-size: 14px;
		    margin: 0;
		}

		.slider_background {
		    width: 200px;
		    height: 300px;
		    left: 20px;   
		}

		.gallery_background {
		    width: 240px;
		    height: 260px;
		    margin-top: 20px;
		}

		.about_us__gallery {
		    width: 260px;
		    height: 325px;
		    margin: 50px auto 0;
		}

		.navbuttons{
			display: none;
		}

		.about_us__description{
			width: 340px;
			margin: 50px auto;
		}

		.description__title{
			font-size: 14px;
			margin-bottom: 15px;
		}

		.description__title2 {
		    font-size: 14px;
		    margin-top: 30px;
		}

		.about_us .description__text{
			font-size: 14px;
			line-height: 15px;
		}

		.work__container {
		    position: relative;
		    margin: 40px auto 0;
		    width: 90%;
		}

		.workimg{
			max-width: 25%;
		}

		.positioneer{
			margin-top: 40px;
		}

		.positioneer .service__block{
			width: 100%;
			height: auto;
			margin: 5px 0;
		}

		.service__block .transp_bground{
			padding: 15px 10px 50px;	
		}

		.know_more{
			left: 10px;
			bottom: 10px;	
		}

		.know_more>a{
			font-size: 15px;
		}

		.set_bg{
			left: 95%;
			bottom: 85%;
		}

		.testimonial_slides{
			margin: 60px auto 0;
			height: 265px;
		}

		.test__sl_bground{
			margin: 0 10px 0 0;
		}

		.slide_speech{
			width: 300px;
		}

		.controls{
			width: 35px;
			height: 35px;
			line-height: 43px;
		}
}

@media all and (max-width: 420px){
	
	header{
		height: 400px;
	}

	.header__menu{
		top: 40px;
	}

	.header__menu_hover li{
		margin: 2px 0;
	}

	.header__menu_hover li a{
		font-size: 15px;
		padding: 0;
	}

	.header__title__text1, .header__title__text2{
		top: 140px;
		font-size: 19px;
	}

	.square{
		padding: 4px 7px;
	}

	.header__glass{
		display: none;
	}

	.header__button{
		margin: 0 auto;
		left: 0;
		top: 190px;
		height: 35px;
		line-height: 35px;
	}

	.about_us, .work, 
	.service, .team, .testimonial, 
	.logo, .contact, footer{
		    padding: 25px 0 10px;
	}

	.block__title{
		font-size: 25px;
	}

	.block__text{
		font-size: 12px;
	}

	.about_us__gallery{
		width: 90%;
		height: 280px;
		margin: 35px auto 0;	
	}
	.slider_background {
	    width: 80%;
	    height: 280px;
	    left: 10%;
	}

	.gallery_background {
	    width: 100%;
	    height: 240px;
	    margin-top: 20px;
	}

	.about_us__description{
		width: 90%;
		margin: 35px auto 15px;
		text-align: center;
	}
	.set_bg {
	    left: 90%;
	    bottom: 90%;
	}

	.testimonial_slides{
		margin: 40px auto 0;
	}

	.test__sl_bground{
		margin: 0;
	}

	.slide_speech{
		width: 95%;
		margin-top: 85px;
		padding: 15px 10px 0;
	}

	.logo{
		padding-top: 270px;
	}

	.logo_row1 img, .logo_row2 img{
		margin: 10px;
		max-width: 25%;
	}

	.contact{
		padding-bottom: 0;
	}

	form{
		width: 100%;
		height: 370px;
		font-size: 12px;
		padding: 5px;
	}

	form ul li{
		height: 40px;
		line-height: 40px;
	}

	input[type=text], input[type=email], textarea{
		width: 75%;
		padding-left: 10px;
	}

	input[type=submit]{
		width: 160px;
		height: 40px;
		font-size: 16px;
		left: 50%;
		transform: translateX(-50%);
	}

	.location{
		width: 100%;
		margin-top: 10px;
		padding: 15px 10px 0;
	}

	.location_adress{
		margin-bottom: 7px;
		font-size: 14px;
	}

	.location_map{
		width: 100%;
	}

	iframe{
		width: 100%;
	}

	.social_link{
		margin-bottom: 20px;
	}

	.copyright{
		font-size: 12px;
		margin-bottom: 5px;
	}

}
